.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

.main {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 20px;

  @media screen and (max-width: 780px){
   grid-template-columns: 1fr;
  }
}